*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
}

.playsation{
    width: 50%;
    height: 100vh;
    transition: width linear .6s;
    position: relative;
    overflow: hidden;
}
.Xbox{
    width: 90%;
    height: 100vh;
    transition: width linear .6s;
    position: relative;
    overflow: hidden;
}
.Xbox img{
    /* width: 100%; */
    height: 100%;
}

.playsation img{
    /* width: 100%; */
    height: 100%;
   
}
.bg-color{
    width: 100%;
    height: 100vh;
    position: absolute;
    background-color: rgb(184, 118, 245);
    mix-blend-mode: multiply;
    /* z-index: 999; */
}
.bg-color2{
    width: 100%;
    height: 100vh;
    position: absolute;
    background-color: rgb(66, 63, 63);
    mix-blend-mode: multiply;
}

h1,button{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    /* font-size:20px; */
    color: white;
    transform: translate(-50%,-50%);
    cursor: pointer;
}
#btn{
    margin-top: 5rem;
    border: 1px solid white;
    background-color: transparent;
    padding: 4px 25px;
    transition: all linear .3s;
}

#btn:hover{
    background-color: rgb(80, 39, 119);
}

#btn2{
    margin-top: 5rem;
    border: 1px solid white;
    background-color: transparent;
    padding: 4px 25px;
}

#btn2:hover{
    background-color:violet ;
    color: black;
    border: 1px solid violet;
}